.comingSoon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 뷰포트 높이를 100%로 설정하여 전체 화면을 채우도록 합니다. */
  text-align: center;
  padding: 0 20px; /* 좌우 패딩 */
  background-color: #1a1a1a;
}

/* 모바일 장치를 위한 스타일 */
@media (max-width: 768px) {
  .logo{
      width: 70%;
      margin-bottom: 15px;
  }
  .pc {
      color: white;
      font-size: 24px;
      font-weight: 600;
  }
  .explain {
      margin-top : 10px;
      color : darkgray;
      font-size: 12px;
  }
}

/* 데스크톱과 더 큰 뷰포트를 위한 스타일 */
@media (min-width: 769px) {
  .logo{
    width: 90%;
    margin-bottom: 30px;
  }
  .pc {
    color: white;
      font-size: 48px;
      font-weight: 600;
  }
  .explain {
      margin-top : 20px;
      color : darkgray;
      font-size: 24px;
  }
}